@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Moul&display=swap');

:root{
    --primary-color: #0F6A79;
    --secondary-color: #c08552;
    --accent1-color: #2a2723;
    --accent2-color: #ece2d0;
    --heading-font: 'Moul', serif;
    --paragraph-font:'Alegreya', serif;
    --nav-background-color: #ece2d0;
    --nav-link-color: #895737;
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
    }

    header{
      margin: 1rem auto;
      display: grid;
      grid-template-columns: 400px 1fr 1fr;
      align-items: center;
      background-color: var(--primary-color) ;
      width: 100%;
    }

    header img{
      margin: 10px 10px 10px 50px;
    }

    nav{
      display: flex;
    }


    nav a{
        color: var(--accent2-color);
        text-decoration: none;
        display: block;
        padding: 25px;
        font-family: var(--heading-font);
    }

    nav a:hover{
      color: #1d1e18;
      text-decoration: 2px solid white underline;
    }

    .hero {
        font-size: 18px;
    }

    .hero img {
        display: block;
        width: 100%;
        height: 650px;
      }

      .hero h1{
        opacity: .5;
        font-family: var(--heading-font);
        color: white;
        background-color: var(--primary-color);
        text-align: center;
        position: relative;
        margin-top: -550px;
      }

      .contact{
        display: flex;
        background-color: aliceblue;
        padding: 1rem;
        margin: 1rem auto;
        border: 1px solid black;
      }

      .contact h1 {
        position: absolute;
        margin-left: 300px;
        text-decoration: underline;
        margin-top: 15px;
        font-family: var(--heading-font);
      }  

  
      .contact p{
        padding: 10px;
        margin-top: 150px;
        font-weight: bolder;
      }


      iframe{
        margin-left: 50px;
        height: 350px;
        width: 450px;
      }


      .employee-container{
        background-color: aliceblue;
        display: flex;
        border: 1px solid black;
        padding: 1rem;
        margin: 1rem auto;
        /* grid-column-start: 3;
        grid-column-end: span 2; */
      }

     .employee-container h2{
      position: absolute;
      margin-left: 650px;
      text-align: center;
      text-decoration: underline;
      margin-top: 15px;
      font-family: var(--heading-font);
      }

      .employee-container img{
        align-content: space-around;
        display: flex;
        position: relative;
        height: 200px;
        width: 250px;
        margin-left: 100px;
        padding: 15px;
        margin-top: 50px;
      }


      .employee-container figcaption{
        margin-left: 40px;
      }


      form{
        max-width: 500px;
        margin-left: 400px;
        padding: 20px;
      }


      fieldset {
        display: grid;
        grid-gap: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
      } 

      fieldset legend{
        font-family: var(--heading-font);
        text-decoration: underline;
      }

      .submit_contact{
        display: flex;

      }

      input{
        margin: 25px;
      }

      button[type="submit"]{
        background-color: #0F6A79;
        color: white;
        border-radius: 5px;
        border: none;
        width: 120px;
        padding: 10px;
        font-size: 10px;
        cursor: pointer;
      }



      article{
        opacity: 0.8;
        position: relative;
        background-color: var(--primary-color);
        margin: 150px;
        padding: 25px;
        height: 150px;
      }

      
      .hero article img{
        margin: 10px;
        height: 140px;
        width: 200px;
        float: right;
      }

      .hero article p{
        color: var(--accent2-color);
        font-family: var(--paragraph-font);
      }

      section{
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 20% 20% 20% 20% 20%;
        background-color: aliceblue;
        border: 1px solid black;
        padding: 3rem;
        margin-top: 1rem;
      }


      section h2{
        display: block;
        font-family: var(--heading-font);
        margin-top: 3px;
        color: var(--secondary-color);
        grid-column-start: 3;
        grid-column-end: span 2;
        position: relative;
        align-items: center;
      }

      section img{
        display: block;
        margin-top: 10px;
        width: 500px;
        justify-content: space-evenly;
      }

      section p{
        display: block;
        grid-row-start: 2;
        grid-column-end:  span 5;
      }

      footer{
        background-color: aliceblue;
        border: 1px solid black;
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 900px 1fr 1fr;
        align-items: center;
        font-weight: bold;
      }

      footer p{
        font-family: var(--paragraph-font);
        font-style: italic;
        font-weight: bold;
        margin-left: 450px;
      }

      footer nav{
        justify-content: flex-end;
        width: 35rem;
      }

      .sociallinks{
        display: flex;
      }

      .sociallinks a{
        margin-left: 20px;
      }

      .sociallinks a img{
        width: 40px;
        height: 40px;
        float: right;
        margin: -10px;
       }

      section figure img{
        width: 250px;
        height: 200px;
        margin-left: -50px;
      }

      figure{
        display: block;
        grid-row-start: 2;
      }

      figcaption{
        margin-left: -100px;
        position: relative;
        display: flex;
        justify-content: center;
      }

